<div class="menu">

  <div class="header">
    <a href="../../Tarefa/Index"><h3> TaskAgenda</h3></a>
  </div>

  <nav class="nav">
    <ul>
      <a  href="../../Usuario/Index"><li id="espaco"><span class="material-symbols-outlined">face_6</span> Usuário</li></a>
      <a href="../../Tarefa/TelasMenuTarefa/Hoje"><li><span class="material-symbols-outlined">today</span> Hoje</li></a>
      <a href="../../Tarefa/TelasMenuTarefa/Semana"><li><span class="material-symbols-outlined">date_range</span> Semana</li></a>
      <a href="../../Tarefa/TelasMenuTarefa/Mes"><li><span class="material-symbols-outlined">calendar_month</span> Mês</li></a>
      <a href="../../Tarefa/TelasMenuTarefa/Vencidas"><li><span class="material-symbols-outlined">report</span> Vencidas</li></a>
      <a href="../../Tarefa/TelasMenuTarefa/Todas"><li><span class="material-symbols-outlined">menu_book</span> Todas</li></a>
    </ul>
  </nav>
     
</div><!--menu-->

<div class="adicionar">
  <a href="./Index" class="btn-neon"><span id="icone" title="sair" class="material-symbols-outlined">logout</span></a>
  <a href="../../Tarefa/Create" class="btn-neon"><span id="icone" class="material-symbols-outlined">add_task</span>Nova Tarefa</a>
</div>

