@page
@model GerenTaref.RazorPages.Pages.Usuario.Create
@{
    Layout = "../Shared/_MainLayoutFooter.cshtml";
}

<link rel="stylesheet" href="~/lib/css/estiloUsuario.css"/>

<div class="espaco"></div>
    <div class="box-login">
        <h1 class="title_login"> Criar Conta</h1>
        <form method="post" class="form login" asp-page="Create">
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <input type="hidden" asp-for="UserModel.UsuarioID">

            <div class="form_field">
                <label asp-for="UserModel.NomeCompleto"><span class="material-icons">person</span></label>
                <input asp-for="UserModel.NomeCompleto" type="text" class="form_input" placeholder="Nome Completo" required>    
            </div>

            <div class="form_field">
                <label asp-for="UserModel.Email"><span class="material-icons">email</span></label>
                <input asp-for="UserModel.Email" type="email" class="form_input" placeholder="E-mail" required>    
            </div>

            <div class="form_field">
                <label asp-for="UserModel.Senha"><span class="material-icons">lock</span></label>
                <input asp-for="UserModel.Senha" minlength="8" type="password" class="form_input" placeholder="Senha" required>    
            </div>

            <div class="form_field" id="bot">
                <input type="submit" id="salvar" value="Salvar"/>
                <a asp-page="/Usuario/Index" id="cancelar">Cancelar</a>
            </div>
        </form>
        <p class="resgatar-senha">Bora começar</p>
    </div>
  
