@page 
@model GerenTaref.RazorPages.Pages.Tarefa.Create
@{
    Layout = "../Shared/_MainLayoutFooter.cshtml";
}

<link rel="stylesheet" href="~/lib/css/estiloTarefa.css"/>

<div class="container_form">
    <h1>Criar nova Tarefa</h1>
        <form class="form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <input type="hidden" asp-for="TarModel.TarefaID">

            <div class="form_grupo">
                <label asp-for="TarModel.Nome" class="form_label"> Nome</label>
                <input asp-for="TarModel.Nome" id="input" class="form_input" required>
            </div>

            <div class="form_grupo">
                <label asp-for="TarModel.Nota" class="form_label"> Descrição</label>
                <textarea asp-for="TarModel.Nota" cols="30" rows="3" class="form_input message_input"  required></textarea>
            </div>

            <div class="form_grupo">
                <label asp-for="TarModel.DataFinal" class="form_label"> Data Final</label>
                <input asp-for="TarModel.DataFinal" class="form_input"  required>
            </div>

            <div class="form_grupo">
                <label asp-for="TarModel.EstadoTarefa" class="text"> Status</label>
                <select asp-for="TarModel.EstadoTarefa" class="dropdown">
                    <option selected disabled class="form_select_option" value="">Selecione</option>
                    <option value="Aberta">Aberta</option>
                    <option value="Em andamento">Em andamento</option>
                    <option value="Concluida">Concluída</option>
                </select>
                <span asp-validation-for="TarModel.EstadoTarefa" class="text-dange"></span>
            </div>

            <div class="form_grupo">
                <label asp-for="IdUser" type="number" class="text"> Responsável</label>
                <select asp-for="IdUser" type="number" class="dropdown">
                    <option selected disabled class="form_select_option" value="">Selecione</option>
                    @foreach (var userModel in Model.UserModel!)
                    {
                        <option value="@userModel.UsuarioID">@userModel.NomeCompleto</option>
                    }
                </select>
                <span asp-validation-for="IdUser" class="text-dange"></span>
            </div>
           
            <br/>
            <div class="submit">
                <input type="submit" id="salvar" class="submit_btn" value="Salvar"/>
                <a asp-page="./Index" id="cancela" class="submit_btn">Cancelar</a>
            </div>
        </form>
    </div>
</div>