<div>
    <nav>
        <ul class="menu">
            <li class="logo"><a href="/Index">TaskAgenda</a></li>
            <li class="item"><a href="/Index">INICIO</a></li>
            <li class="item"><a href="/Funcionalidade">FUNCIONALIDADES</a></li>
            <li class="item"><a href="/Duvida">DÚVIDAS</a></li></li>
            <li class="item button"><a href="../Usuario/LoginUsuario" title="Entrar">Entrar</a></li>
            <li class="item button secondary"><a href="../Usuario/Create" title="Cadastro">Criar conta</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
</div>
