@page
@model GerenTaref.RazorPages.Pages.Duvida

<link rel="stylesheet" href="~/lib/css/estiloFuncionalidade.css"/> 

<h1>Ainda tem dúvidas? Estamos aqui para ajudar!</h1>

<div class="geralDuvida">
  
    <div class="duvida">
        <h3>O que é o TaskAgenda?</h3>
        <p>O TaskAgenda é um gerenciador de tarefas e compromissos online, mas podemos também chamá-lo de sua lista de tarefas e agenda online.</p>
    </div>

    <div class="duvida">
        <h3>Vou receber notificações nos horários agendados?</h3>
        <p>Sim, O TaskAgenda envia notificações nos horários programados nas tarefas e compromissos, desse modo você não perde uma atividade importante a fazer.</p>
    </div>

    <div class="duvida">
        <h3>Como funciona a lista de tarefas VENCIDAS?</h3>
        <p>A lista de tarefas VENCIDAS permite a visualização de todas as tarefas e compromissos cujas data de agendamento, como o nome diz, já venceram.</p>
    </div>
</div>