@page
@model GerenTaref.RazorPages.Pages.Funcionalidade

<link rel="stylesheet" href="~/lib/css/estiloFuncionalidade.css"/>

<h1>Funcionalidades</h1>

<div class="geralFuncionalidade">
    <div class="funcionalidade">
        <img src="~/imagem/Tarefa.png">
        <h3 class="paragrafo1">Listas de hoje, da semana e do mês</h3>
        <p class="paragrafo2">Visualize tarefas e compromissos em curto e médio prazo e programe-se com antecedência.</p>
    </div>

    <div class="funcionalidade1">
        <img src="~/imagem/Notificacao.png">
        <h3 class="paragrafo1">Receba notificações das suas tarefas</h3>
        <p class="paragrafo2">Não perca a hora de suas atividades e compromissos com os alertas do TaskAgenda.</p>
    </div>

    <div class="funcionalidade2">
        <img id="img3" src="~/imagem/Atraso.png">
        <h3 id="pa3" class="paragrafo1">Lista de tarefas vencidas</h3>
        <p class="paragrafo2">Deixou vencer uma tarefa? Ops! Consulte todas as tarefas que passaram do prazo rapidamente com um clique.</p>
    </div>
</div>