@page
@model GerenTaref.RazorPages.Pages.Index

<body>
    <div class="meio">
        <div class="meio_texto">
            <p class="meio_paragrafo1">TaskAgenda: O seu gerenciador online de <br> tarefas e compromissos</p>
            <p class="meio_paragrafo2">Não perca prazos nem esqueça compromissos.<br>
               Pessoal ou profissional o TaskAgenda ajuda a organizar a sua rotina.
            </p>
        </div>
        
        <img class = "img-prin" src="~/imagem/Tela_Principal.png" width="600" height="186" >
    </div>
</body>